<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prac.learning">

    <!-- Required for accessing the internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Personalised Learning"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config"
        >

        <activity android:name=".ResultActivity" />
        <activity android:name=".TaskActivity" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".InterestsActivity" />
        <activity android:name=".SignupActivity" />

        <!-- ✅ Launcher activity with android:exported="true" for Android 12+ -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
